<% heroes = "heroes.png" %>

<head><link href="https://fonts.googleapis.com/css?family=Abel|Teko&display=swap" rel="stylesheet">
    <% javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
</head>

<body>
  <div class="heros-header">
    <img src="<%= asset_path(heroes) %>" alt="Difficulty Rating">  
    <div class="header-inputs">
      <p>Filter by Hero Roles:</p>
      <%= form_tag(heros_path, method: :get) do %>
        <%= select_tag("role", options_from_collection_for_select(Role.all, "hero_role", "hero_role"), :include_blank => true) %>
          <%= submit_tag ("Filter Heroes") %>
      <% end %>

      <button class="buttons">
        <%= link_to "Game Stats Page", games_path %>
      </button>
    </div>
  </div>

  <% @heroes.each do |hero| %>
    <div class="profile">
      <%= link_to hero_path(hero) do %>
      <img src="<%= hero.picture %>" alt="Hero Picture">
  <% end %>
      <div class="hero-names">
        <%= hero.name %>
      </div> 
    </div>
  <% end %>
</body>