<body class="doom-fist">
<h1><%= @hero.name %></h1>

<p>Hero Role: <%= @hero.role.hero_role %></p>
<p>Difficulty: <%= @hero.stat.difficulty %></p> 
<p>Real Name: <%= @hero.stat.real_name %></p>
<p>Age: <%= @hero.stat.age %></p>
<p>Description: <%= @hero.stat.description %></p>
<p>Affiliation: <%= @hero.stat.affiliation %></p>
<p>Base of Operation: <%= @hero.stat.base_of_operations %></p>
<p>Health: <%= @hero.stat.health %></p>
<p>Armour: <%= @hero.stat.armour %></p>
<p>Shield: <%= @hero.stat.shield %></p>
</body>