<% starjob = "starjob.png"%>
<% emptyjob = "emptyjob.png"%>
<% home = "home.png" %>



<head><link href="https://fonts.googleapis.com/css?family=Abel|Teko&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<body class="hero-background" style= "background-image: url(<%= @hero.background %>);">

    <div class="return-home">
        <%= link_to heros_path do %>
            <img src="<%= asset_path(home) %>" alt="Return home">
        <% end %>
    </div>
    <div class="info-border">
        <div class="hero-name">
            <h1><%= @hero.name %></h1>
        </div>

        <div class="role-zone">
            <h3 class="hero-role">Hero Role:</h3> 
            <h4 class="hero-type"><%= @hero.role.hero_role %></h4>
        </div>

        <div class="difficulty-block">
            <h4>Difficulty:</h4>
            <% empty = 3 - @hero.stat.difficulty %>
            <% @hero.stat.difficulty.times do %>
                <img src="<%= asset_path(starjob) %>" alt="Difficulty Rating">
            <%end%>
            <% empty.times do %>
                <img src="<%= asset_path(emptyjob) %>" alt="Difficulty Rating">
            <%end%>
        </div>
        
        <div class="bio">
            <p>Real Name: </p><span class="inner-bio"> <%=@hero.stat.real_name%></span> 

            <p >Age: </p>
            <span class="inner-bio"><%= @hero.stat.age %></span>

            <p>Description: </p>
            <span class="inner-bio"><%= @hero.stat.description %></span>

            <p>Affiliation: </p>
            <span class="inner-bio"><%= @hero.stat.affiliation %></span>

            <p>Base of Operation: </p>
            <span class="inner-bio"><%= @hero.stat.base_of_operations %></span>
        </div>

        <div class="stat-values">
            <p>Health: <%= @hero.stat.health %></p>
            <p>Armour: <%= @hero.stat.armour %></p>
            <p>Shield: <%= @hero.stat.shield %></p>
        </div>
    </div>

    <div class="align-button">
        <button class="buttons">
            <%= link_to "Hero Stats", map_path %>
        </button>
        <button class="buttons">
            <%= link_to "Heroes page", heros_path %>
        </button>
    </div>

</body>
