<head>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <h1>Hero Stats</h1>
</head>

<body class="graph-background" style="background-video: url(<%= @hero.graph_background %>);" >
    <div class="dashboard">
        
        <div id="pie-graph" class="graph">
            <%= pie_chart @pie.group(:name).count %>
        </div>
        

        <div id="bar-graph" class="graph">
                <%= bar_chart({"Win Rate" => @hero.win_rate ,
                               "Average Time on Fire" => @hero.average_time_on_fire,
                               "Average Number of Ultimates" => @hero.average_number_of_ultimates }) %>
        </div>

        <div id="geo-graph" class="graph">
            <%= geo_chart @geo.group(:country).count %>
        </div>

        <div id="line-graph" class="graph">
            <%= line_chart @line.group(:month).count%>
        </div>
        
    </div>
</body>