<head>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <% home = "home.png" %>
</head>

<body>
<%= video_tag @hero.graph_background, autoplay: :autoplay, loop: :loop, mute: :mute, class: "background-video" %>
<div class="dashboard">
    <div class="return-home">
        <%= link_to heros_path do %>
            <img src="<%= asset_path(home) %>" alt="Return home">
        <% end %>
    </div>
    
    <div class="dashboard">    
        <div id="pie-chart" class="graph">
            <%= pie_chart @pie.group(:name).count, title: "Top 5 Maps" %>
            <%= bar_chart({"Win Rate" => @hero.win_rate,
                            "Average Time on Fire" => @hero.average_time_on_fire,
                            "Average Number of Ultimates" => @hero.average_number_of_ultimates }, title: "Player Stats") %>
        
        <div id="line-graph" class="graph">
            <%= line_chart @line.group(:month).count, title: "Picks by Month" %>
        </div>
        
        <h2>Picks by Country</h2>
        <div id="geo-chart" class="graph">                            
            <%= geo_chart @geo.group(:country).count %>
        </div>
        <button class="buttons">
            <%= link_to "Hero Page", hero_path(@hero) %>
        </button>
</div>
    </div>
</body>